body {
    background-color: #F4F6FA;
    margin: 0;
    font-family: Poppins;
    color: rgb(56, 63, 80),
}

::selection {
  color: white;
  background: #3D8DFD;
}

.logo {
    padding-top: 3em;
    padding-bottom: 2.5em;
}

.hr_style{
    border: 0;
    border-top: 1px solid;
    color: #EFF0F6
}

.navbar {
    font-size: 1em;
    padding-bottom: 2.5em;
    font-weight: 550;
}

.navbar > span.badge.badge-default:hover {
    font-weight: 900;
    color: #3D8DFD;
}

.week_selecter{
    padding-top: 1em;
    padding-bottom: 1em;
}

.item-area{
    width:25%;
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    border-color: #EFF0F6;
}

.item-group{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    border-bottom: 1px solid;
    border-color: #EFF0F6;
}

.day{
    padding-right:4em;
}

.meal{
    padding-right:8em;
}

input[type=text]{
    outline: none;
    border: 0px;
}

.content_input{
    outline:none;
    border: 0px;
    margin: 0;
}

.content_input:hover, focus, textarea:focus{
    border: 1px solid #3D8DFD;
}

.form-group{
    margin-bottom:0;
}


.blob_one{
    display: block;
    height: 0.5em;
    width: 1.25em;
    background: #E6CFFF;
    border-radius: 1em;
}
.blob_two{
    display: block;
    height: 0.5em;
    width: 1.25em;
    background: #CDE7FB;
    border-radius: 1em;
}
.blob_three{
    display: block;
    height: 0.5em;
    width: 1.25em;
    background: #3D8DFD;
    border-radius: 1em;
}


#save_button{
    margin-bottom: 0.5em;
    border: 0px;
    background: #FFFFFF;
    font-size: 0.6em;
    color: #383F50;
}
#save_button:hover{
    font-weight: 900;
    color: #3D8DFD;
}

.footer{
    width: 25%;
    display:flex;
}

.footer > a{
    margin-right: 2em;
    text-align: left;
    font-size: 0.6em;
    color: #383F50;
}

.footer > a:hover {
    font-weight: 900;
    color: #3D8DFD;
}
