/* Styling for base.html*/
/****************************************************************************/
:root {
  --lightblue: #CDE7FB;
  --blue: #3D8DFD;
  --pink: #E6CFFF;
  --white: #ffffff;
  --background: #F4F6FA;
  --bordergrey: #EFF0F6;
}


body {
    background-color: var(--background);
    margin: 0;
    font-family: Poppins;
    color: rgb(56, 63, 80);
}

.logo {
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.hr_style{
    border: 0;
    border-top: 1px solid;
    color: var(--bordergrey);
}

.navbar {
    font-size: 1em;
    padding-bottom: 2.5em;
    font-weight: 550;
}

.navbar > a {
    text-decoration: none;
    margin-right:1em;
    color: rgb(56, 63, 80);
    font-size: 0.8em;
    font-weight: 550;
}

.navbar > a:hover {
    font-weight: 900;
    color: var(--blue);
}


.slogan{
    font-weight: 650;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.main_stats{
    display:flex;
    justify-content: center;
}
.stat_header{
    margin-left: 1.4em;
}

.title_header{
    display:flex;
    align-items: center;
    justify-content: center;
}

.max_value_title{
    font-size: 1.2em;
    font-weight: 900;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.max_value_text{
    font-size: 0.8em;

}

/* Styling for index.html*/
/****************************************************************************/

.week_selecter{
    display:flex;
    justify-content: space-evenly;
    padding-top: 1em;
    width:100%;
    margin: 0 auto;
    max-width: 30em;
}

.left{
    margin-top: 1em;
	height: 12px; width: 12px;
	border: 1px solid #757575;
	border-width: 2px 2px 0 0;
	border-radius: 0 2px 0 0;
	transform: rotate(-135deg);
}

.left:hover{
	border: 1px solid var(--blue);
	border-width: 2px 2px 0 0;
	border-radius: 0 2px 0 0;
}

.right{
    margin-top: 1em;
	height: 12px; width: 12px;
	border: 1px solid #757575;
	border-width: 2px 2px 0 0;
	border-radius: 0 2px 0 0;
	transform: rotate(45deg);
}

.right:hover{
	border: 1px solid var(--blue);
	border-width: 2px 2px 0 0;
	border-radius: 0 2px 0 0;
}

.week_selector_header{
    font-weight: 650;
}

.week_selector_display{
    font-weight: 400;
    font-size: 0.8em;
    padding-bottom: 1.5em;
}

.button_now{
    margin-bottom: 1em;
    font-size: 0.8em;
}
.item-area{
    width:100%;
    margin: 0 auto;
    max-width: 30em;
    background-color: var(--white);
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--bordergrey);
}

.item-group{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    border-bottom: 1px solid;
    border-color: var(--bordergrey);
}

.day{
    padding-right:4em;
}

.meal{
    padding-right:8em;
}

.content_input{
    outline:none;
    border: 0px;
    margin: 0;
    width: 15em;
}

.content_input:hover, focus, textarea:focus{
    border: 1px solid var(--blue);
}

.form-group{
    margin-bottom:0;
}


.blob_one{
    display: block;
    height: 0.5em;
    width: 1.25em;
    background: var(--pink);
    border-radius: 1em;
}
.blob_two{
    display: block;
    height: 0.5em;
    width: 1.25em;
    background: var(--lightblue);
    border-radius: 1em;
}
.blob_three{
    display: block;
    height: 0.5em;
    width: 1.25em;
    background: var(--blue);
    border-radius: 1em;
}


.footer{
    width: 25%;
    display:flex;
    justify-content: center;
}

.footer > a{
    margin-right: 2em;
    text-align: left;
    font-size: 0.6em;
    color: #383F50;
}

.footer > a:hover {
    font-weight: 900;
    color: var(--blue);
}

.func{
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    width: 30em;
}

.func_link{
    margin-right: 2em;
    text-align: left;
    font-size: 0.8em;
    color: #383F50;
}

.func_link:hover {
    font-weight: 900;
    color: var(--blue);
}

#current_week_button {
    margin-left: auto;
}

/* Styling for stats.html*/
/****************************************************************************/
.main{
    display: flex;
    justify-content: center;
}

.item_area_header, .item_area_subtitle{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
    border-color: var(--bordergrey);
    font-weight: 650;
    font-size: 1em;
    width: 100%
}

.item_content{
    min-height:30em;
    min-width: 30em;
}

.clst{
    max-height: 0;
    list-style: none;
    text-align: left;
}

/* Styling for the graph*/

#enable_scroll {
    overflow-y: auto;
    min-width: auto;
}

#enable_scroll_middle {
    min-width: auto;
    overflow-y: auto;
    max-height: 30em;
}

#box3 {
    min-width: auto;
}

#bars {
    padding: 0 1em 0 1em;
    font-size: 0.7em;
    --color: var(--blue);
    --labels-size: 14em;
}

th{
    font-weight: 400;
}

#bars td {
    border-radius: 0 0.25em 0.25em 0;
    transform-origin: left;
    animation: revealing-bars 4s linear;
}
@keyframes revealing-bars {
    0%  { transform: scaleX( 0 ); }
    15% { transform: scaleX( 1 ); }
}


/*Scrollbar code adapted from digitalocean.com and customised/*
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #383F50;
}

.item_area_title {
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    font-size: 0.8em;
    text-align: left;
}

#headerbox_3{
   display: grid;
   grid-template-rows: ;
   grid-template-columns: 1fr 1fr 1fr ;
   gap: 0px;
   justify-items: center;
   align-items: center;
}

#ico{
    color: black;
}

#ico:hover{
    color: var(--blue);
}

.items_to_remember {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid;
    border-color: var(--bordergrey);
}

.remember_item {
    margin-right: 2.5em;
    margin-left: 3em;
    margin-bottom: 1em;
}

.remember_item::before{
    content: "";
    display: inline-block;
    margin-right: 0.5em;
    height: 0.5em;
    width: 0.5em;
    background: var(--blue);
    border-radius: 0.5em;
}

.best_combos{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.left_combo, .right_combo{
    margin-top: 1em;
    min-width: 10px;
	height: 10px; width: auto;
	border: 1px solid #757575;
	border-width: 2px 2px 0 0;
	border-radius: 0 2px 0 0;
}

.left_combo{
	transform: rotate(-135deg);
}

.right_combo{
	transform: rotate(45deg);
}

.left_combo:hover, .right_combo:hover{
	border: 1px solid var(--blue);
	border-width: 2px 2px 0 0;
	border-radius: 0 2px 0 0;
}

.col-md-4 {
    padding-top: 2em;
}

/* Styling for profil.html*/
/****************************************************************************/

.settings_box {
    margin-top: 1em;
    margin-left: 3em;
    text-align: left;
}

.settings_title{
    font-weight:700;
    font-size: 0.8em;
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.settings_input{
    margin: 0;
    width: 15em;
    height: 2em;
    border: 1px  solid var(--bordergrey);
}

.delete_all_link{
    margin-top: 12em;
}

.delete_all_link > a{
    font-size: 0.8em;
    color: #383F50;
}

.delete_all_link > a:hover {
    font-weight: 900;
    color: var(--blue);
}