<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="HackerBurscht">
  <meta name="description" content="Tool zur Planung deiner wöchentlichen Mahlzeiten">
  <meta name="date" content="23.09.2022">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <meta name="keywords" content="Essensplaner, Mahlzeitenplaner, Wochenplaner, Tool, Ernährung, Diet, ">
  <title>Mealy - Deine Mahlzeiten im Griff</title>
  <link rel="stylesheet" href="{{ url_for('static', filename'css/main.css')}}">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>