{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container-fluid" align="center">
	<div class="row">
		<div class="col-md-12">
			<div class="logo">
				<img src="../images/logo.png" alt="Mealy_Logo" height="71" width="159" class="mx-auto d-block">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="navbar justify-content-center">
				<span class="badge badge-default">Übersicht</span>
				<span class="badge badge-default">Jetzt planen</span>
				<span class="badge badge-default">Statistiken</span>
				<span class="badge badge-default">Profil</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr class="hr_style w-25">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="week_selecter">
				Week Selecter
			</div>
			<div class="item-area">
				<div class="item-group">
					<div class="Day">Mo</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
				<div class="item-group">
					<div class="Day">Di</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
				<div class="item-group">
					<div class="Day">Mi</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
				<div class="item-group">
					<div class="Day">Do</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
				<div class="item-group">
					<div class="Day">Fr</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
				<div class="item-group">
					<div class="Day">Sa</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
				<div class="item-group">
					<div class="Day">So</div>
					<div class="Meal">. . . . . . . . </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr class="hr_style w-25">
			<div class="footer">
				<span class="badge badge-default">About</span>
				<span class="badge badge-default">Kontakt</span>
				<span class="badge badge-default">Github</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}

