{% extends "base.html" %}

{% block title %} - Plan erstellen {% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="slogan">
					Beginne mit deiner Planung <br> und behalte schon bald den Überblick.
				</div>
			</div>
			<hr class="hr_style w-25">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="week_selecter">
				<a href="#" class="left"></a>
				<div class="selector_middle">
					<div class="week_selector_header">Wochenplan</div>
					<div class="week_selector_display">{{ pass_week_start }}{{ pass_week_end }}</div>
					</div>
				<a href="#" class="right"></a>
			</div>
			<div class="item-area">
				<div class="item-group">
					<div class="blob_one"></div>
					<div class="day">Mo</div>
					<div class="form">
						<form action="/mo" method="POST">
							<input type="text" class="content_input" name="mo" id="content_input_mo" placeholder=". . . . . . . . ">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_two"></div>
					<div class="day">Di</div>
					<form>
						<input type="text" class="content_input" id="content_input_di" placeholder=". . . . . . . . ">
					</form>
				</div>
				<div class="item-group">
					<div class="blob_three"></div>
					<div class="day">Mi</div>
					<form>
						<input type="text" class="content_input" id="content_input_mi" placeholder=". . . . . . . . ">
					</form>
				</div>
				<div class="item-group">
					<div class="blob_one"></div>
					<div class="day">Do</div>
					<form>
						<input type="text" class="content_input" id="content_input_do" placeholder=". . . . . . . . ">
					</form>
				</div>
				<div class="item-group">
					<div class="blob_two"></div>
					<div class="day">Fr</div>
					<form>
						<input type="text" class="content_input" id="content_input_fr" placeholder=". . . . . . . . ">
					</form>
				</div>
				<div class="item-group">
					<div class="blob_three"></div>
					<div class="day">Sa</div>
					<form>
						<input type="text" class="content_input" id="content_input_sa" placeholder=". . . . . . . . ">
					</form>
				</div>
				<div class="item-group">
					<div class="blob_one"></div>
					<div class="day">So</div>
					<form>
						<input type="text" class="content_input" id="content_input_so" placeholder=". . . . . . . . ">
					</form>
				</div>
				<!--<form action="/" method="POST">
				<input type="submit" value="Hinzufügen" id="save_button">
				</form>-->
			</div>
		</div>
	</div>


{% endblock %}

