{% extends "base.html" %}

{% block title %} - Plan erstellen {% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="slogan">
					{{ slogan }}
				</div>
				<div class="main_stats">
					<div class="stat_header">
						<div class="title_header">
						<div class="blob_one"></div>
						<div class="max_value_title">{{ max_meals }}</div>
						<div class="blob_one"></div>
						</div>
						<div class="max_value_text">Mahlzeiten geplant</div>
					</div>
					<div class="stat_header">
						<div class="title_header">
						<div class="blob_two"></div>
						<div class="max_value_title">{{ div_meals }}</div>
						<div class="blob_two"></div>
						</div>
						<div class="max_value_text">verschiedene Gerichte</div>
					</div>
					<div class="stat_header">
						<div class="title_header">
						<div class="blob_three"></div>
						<div class="max_value_title">{{ most_meal_amount }}</div>
						<div class="blob_three"></div>
						</div>
						<div class="max_value_text">mal {{ most_meal }}</div>
					</div>
				</div>
			</div>
			<hr class="hr_style w-25">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="week_selecter">
				<a href="/prev" class="left"></a>
				<div class="selector_middle">
					<div class="week_selector_header">Wochenplan</div>
					<div class="week_selector_display">{{ week_start_display }} bis {{ week_end_display }}</div>
					</div>
				<a href="/next" class="right"></a>
			</div>
			<div class="item-area">
				<div class="item-group">
					<div class="blob_one"></div>
					<div class="day">Mo</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input" name="mo" placeholder="{{ return_mo }}">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_two"></div>
					<div class="day">Di</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input" name="di" placeholder="{{ return_di }}">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_three"></div>
					<div class="day">Mi</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input"  name="mi" placeholder="{{ return_mi }}">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_one"></div>
					<div class="day">Do</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input" name="do" placeholder="{{ return_do }}">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_two"></div>
					<div class="day">Fr</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input" name="fr" placeholder="{{ return_fr }}">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_three"></div>
					<div class="day">Sa</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input" name="sa" placeholder="{{ return_sa }}">
						</form>
					</div>
				</div>
				<div class="item-group">
					<div class="blob_one"></div>
					<div class="day">So</div>
					<div class="form">
						<form action="/save" method="POST">
							<input type="text" class="content_input" name="so" placeholder="{{ return_so }}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="func">
		<a href="{{ url_for('rng_plan') }}" class="func_link">Zufällig</a>
		<a href="{{ url_for('forgot') }}" class="func_link">Schon lange her</a>
		{% if visible %}
		<a href="{{ url_for('current_week') }}" class="func_link" id="current_week_button">Springe zurück</a>
		{% endif %}
	</div>

{% endblock %}

