{% extends "base.html" %}

{% block title %} - Dein Mampfverhalten {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
{% endblock %}


{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="header">
				<div class="slogan">
					{{ slogan }} Such du Inspiration für deine Planung oder möchtest du bloss den Überblick behalten?
				</div>
				<div class="main_stats">
					<div class="stat_header">
						<div class="title_header">
						<div class="blob_one"></div>
						<div class="max_value_title">{{ max_meals }}</div>
						<div class="blob_one"></div>
						</div>
						<div class="max_value_text">Mahlzeiten geplant</div>
					</div>
					<div class="stat_header">
						<div class="title_header">
						<div class="blob_two"></div>
						<div class="max_value_title">{{ div_meals }}</div>
						<div class="blob_two"></div>
						</div>
						<div class="max_value_text">verschiedene Gerichte</div>
					</div>
					<div class="stat_header">
						<div class="title_header">
						<div class="blob_three"></div>
						<div class="max_value_title">{{ most_meal_amount }}</div>
						<div class="blob_three"></div>
						</div>
						<div class="max_value_text">mal {{ most_meal }}</div>
					</div>
				</div>
			</div>
			<hr class="hr_style w-25">
		</div>
	</div>
<div class="main">
    <div class="row">
		<div class="col-md-4">
            <div class="item-area">
                <div class="item_area_header">Stöbere durch deine Gerichte</div>
				<div class="item_content" id="enable_scroll">
					<div class="item_area_title">Möchtest du wissen, was du schon alles zubereitet hast? Scrolle durch die Liste um es herauszufinden.</div>
					<ul class="clst">
						{% for meal in meal_data %}
							<li> {{ meal }} </li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
            <div class="item-area">
                <div class="item_area_header">Deine Top 15?</div>
				<div class="item_content" id="enable_scroll_middle">
					<div class="item_area_title">Weisst du, was du am häufigsten isst? Dies sind deine Top 15:</div>
					<table id="bars" class="charts-css bar data-spacing-1 show-5-secondary-axes show-labels
					labels-align-start hide-data">
						{% if not graph_visible %}
						<p>Es scheint, als hättest du noch nicht genügend Daten erfasst, um ein Diagramm anzeigen zu lassen.</p>
						{% endif %}
						{% if graph_visible %}
						{% for x,y,z in top15 %}
						<tr>
							<th scope="row">{{ x }}</th>
							<td style="--size: {{ y }}">
								<span class="data">{{ y }}</span>
								<span class="tooltip"> Du hast {{ x }} ganze <br> {{ z }} mal gegessen.</span>
							</td>
						</tr>
						{% endfor %}
						{% endif %}
					</table>
<!--		Charts created with the CSS framework "chartcss". For more information visit: https://chartscss.org/	 -->
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="item-area">
				<div id="box">
					<div class="item_area_header">
						<a href="/refresh_f_meals"><i class="fi fi-rr-refresh" id="ico"></i></a>Erfahre noch mehr
					</div>
				</div>
				<div class="item_content">
					<div class="item_area_title">Schon vergessen? Diese Gerichte waren schon seit längerem nicht mehr auf deinem Radar:</div>
					<div class="items_to_remember">
						{% for item in remember_items %}
							<div class="remember_item">{{item}}</div>
						{% endfor %}
					</div>
					<div class="item_area_subtitle">Gewusst?</div>
					<div class="best_combos">
						{% if visible_l %}
						<a href="/prev_combo" class="left_combo"></a>
						{% endif %}
						<div class="item_area_title">{{ day_c }}s isst du am häufigsten {{ meal_c }}. {{ quote_c }}</div>
						{% if visible_r %}
						<a href="/next_combo" class="right_combo"></a>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}